$font-size-base             : 16px;
$font-weight-base           : 400;
$line-height-base           : 1.34;

$ff-sans-serif              : 'HelveticaNowText-Regular', Helvetica, Arial, sans-serif;
$ff-futura                  : 'futura-pt-condensed', Helvetica, Arial, sans-serif;
$ff-trade-gothic            : 'trade-gothic-next-condensed', Helvetica, Arial, sans-serif;
$ff-trade-gothic-bold        : 'trade-gothic-next', Helvetica, Arial, sans-serif;
$ff-helvetica-display       : 'HelveticaNowDisplay', Helvetica, Arial, sans-serif;
$ff-serif                   : Georgia, 'Times New Roman', Times, serif;

$t-duration                 : 0.4s;

$shell-max-width            : 1290px;
$shell-small 	            : 1140px;
$shell-gutter               : 20px;

$c-white                    : #fff;
$c-black                    : #000;
$c-dark                     : #1a1a1a;
$c-base                     : #055590;
$c-green                    : #D5FF45;

$responsive-ios             : 812px;

$breakpoints: (
	mobile-small: 374px,
	mobile-medium: 575px,
	mobile: 767px,
	admin-bar: 782px,
	tablet: 1024px,
	small-desktop: 1199px,
	large-desktop: 1320px
);
