/* ------------------------------------------------------------ *\
	Btn
\* ------------------------------------------------------------ */

.btn {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border: 1px solid $c-dark;
	box-shadow: none;
	border-radius: 0;
	appearance: none;
	font-family: $ff-trade-gothic;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: .1em;
	text-transform: uppercase;
	color: $c-black;
	cursor: pointer;
	background: $c-green;
	padding: 31px 42px 30px;
	transition: all .4s;

	@include breakpoint-down(tablet) {
		padding: 25px 30px;
	}

	@include breakpoint-down(mobile) {
		padding: 30px;
	}

	&:hover {
		background: color(#{$c-green} a(70%));
		color: $c-dark;
	}
}

.btn--transparent {
	background-color: transparent;

}

.btn--xsmall {
	min-width: 144px;
	padding: 20px 15px;

	@include breakpoint-down(mobile) {
		font-size: 12px;
		min-width: 100px;
		padding: 15px 10px;
	}
}

.btn--small {
	color: $c-dark;
	padding: 17px 20px;
	min-width: 150px;

	@include breakpoint-down(tablet) {
		font-size: 18px;
		min-width: 181px;
		padding: 19px 20px;
	}

	@include breakpoint-down(mobile) {
		font-size: 16px;
		padding: 15px 20px;
	}
}

.btn--lg {
	min-width: 300px;

	@include breakpoint-down(mobile) {
		min-width: 280px;
	}
}

/* Btn Block */

.btn--block {
	display: block;
	padding-left: 0;
	padding-right: 0;
}
