/* ------------------------------------------------------------ *\
	Callout Podcast
\* ------------------------------------------------------------ */

.callout-podcast {
	display: flex;
	position: relative;
	z-index: 5;

	@include breakpoint-down(mobile) {
		@include breakpoint-down(mobile) {
			margin: 0 -20px;
		}
	}

	.callout__inner {
		display: flex;
		min-height: 414px;
		background: $c-dark;
		color: $c-white;

		@include breakpoint-down(tablet) {
			min-height: 350px;
		}

		@include breakpoint-down(mobile) {
			min-height: 0;
			flex-wrap: wrap;
		}
	}

	.callout__image {
		position: absolute;
		top: 0;
		right: 0;
		width: 67.829%;
		height: 100%;

		@include breakpoint-down(tablet) {
			width: 60%;
		}

		@include breakpoint-down(mobile) {
			position: relative;
			width: 100%;
			height: auto;
			order: -1;
		}
	}

	.callout__image span {
		width: 100%;
		height: 100%;

		@include breakpoint-down(mobile) {
			height: 0;
			padding-top: 96.859%;
		}
	}

	.callout__content {
		position: relative;
		z-index: 4;
		padding: 91px 0 0 82px;

		@include breakpoint-down(small-desktop) {
			padding:  60px 0 0 60px;
		}

		@include breakpoint-down(tablet) {
			padding: 30px 0 0 30px;
		}

		@include breakpoint-down(mobile) {
			padding: 50px 20px;
		}
	}

	h2 {
		font-size: 72px;
		margin-bottom: 22px;

		@include breakpoint-down(large-desktop) {
			font-size: 64px;
		}

		@include breakpoint-down(tablet) {
			font-size: 48px;
			margin-bottom: 35px;
		}
	}

	p {
		max-width: 280px;

		@include breakpoint-down(mobile) {
			max-width: 100%;
		}
	}

	.callout__actions {
		position: absolute;
		bottom: 60px;
		left: 82px;

		@include breakpoint-down(small-desktop) {
			left: 60px;
		}

		@include breakpoint-down(tablet) {
			left: 30px;
		}

		@include breakpoint-down(mobile) {
			position: relative;
			bottom: 0;
			left: 0;
		}
	}

	.callout__entry {
		@include breakpoint-down(mobile) {
			margin-bottom: 40px;
		}
	}

	.callout__actions a {
		text-decoration: none;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 12px;
		position: relative;
		display: inline-block;
		padding-right: 64px;

		&:before {
			content: '';
			border-left: 15px solid $c-green;
			border-top: 9px solid transparent;
			border-bottom: 9px solid transparent;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 12px;
		}

		&:after {
			content: '';
			width: 42px;
			height: 42px;
			border: 1px solid $c-green;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
	}

	.callout__actions strong {
		display: block;
		font-family: $ff-helvetica-display;
		letter-spacing: .27em;
		margin-bottom: 5px;
	}

	.callout__actions span {
		display: block;
		font-family: $ff-trade-gothic;
		letter-spacing: .1em;
	}
}
