/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	width: 100%;
	background: $c-dark;
	color: $c-white;

	@include breakpoint-down(mobile) {
		padding-bottom: 35px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none outside none;
	}

	.footer__inner {
		display: flex;
		justify-content: space-between;

		@include breakpoint-down(tablet) {
			flex-wrap: wrap;
		}
	}

	.footer__content {
		width: 100%;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;

		@include breakpoint-down(tablet) {
			padding: 60px 0;
		}

		@include breakpoint-down(mobile) {
			padding: 50px 0;
		}
	}

	.footer__content h2 {
		font-size: 72px;
		margin-bottom: 98px;

		@include breakpoint-down(large-desktop) {
			font-size: 64px;
		}

		@include breakpoint-down(tablet) {
			font-size: 48px;
		}

		@include breakpoint-down(mobile) {
			font-size: 40px;
			margin-bottom: 40px;
		}
	}

	.footer__logo {
		margin-bottom: 87px;

		@include breakpoint-down(tablet) {
			margin-bottom: 50px;
		}
	}

	.footer__logo a {
		display: block;
		margin-bottom: 26px;
	}

	.footer__logo p {
		font-size: 12px;
		max-width: 185px;

		@include breakpoint-down(tablet) {
			margin: 0 auto;
		}
	}

	.footer__entry {
		width: 100%;
	}

	.footer__aside {
		min-width: 253px;
		width: 253px;
		padding-bottom: 78px;

		@include breakpoint-down(tablet) {
			min-width: 0;
			width: 50%;
			order: 1;
			text-align: center;
		}

		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}

	.footer__aside--left {
		border-right: 1px solid $c-white;
		padding-top: 78px;

		@include breakpoint-down(tablet) {
			padding-top: 30px;
		}

		@include breakpoint-down(mobile) {
			border: none;
			padding: 15px 0;
		}
	}

	.footer__aside--right {
		border-left: 1px solid $c-white;
		padding-top: 85px;
		padding-left: 55px;

		@include breakpoint-down(tablet) {
			padding-top: 30px;
			padding-left: 0;
		}

		@include breakpoint-down(mobile) {
			border: none;
			padding: 15px 0;
		}
	}

	h6 {
		font-family: $ff-trade-gothic;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: .1em;
		color: $c-green;
		margin-bottom: 25px;
	}

	.footer__nav,
	.footer__socials {
		font-family: $ff-trade-gothic;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: .1em;
		margin-bottom: 28px;
	}

	.footer__nav a,
	.footer__socials a {
		text-decoration: none;

		@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
		 	 &:hover {
		 	 	color: $c-green;
		 	 }
		}
	}

	.footer__locations {
		font-size: 12px;
		font-weight: 400;
		line-height: 1.5;
	}

	.footer__locations a {
		text-decoration: none;
	}

	.footer__locations h6 {
		margin-bottom: 28px;
	}

	.footer__locations span {
		display: block;
		font-family: $ff-helvetica-display;
		font-weight: 700;
		font-size: 11px;
		line-height: 1;
		letter-spacing: .05em;
		text-transform: uppercase;
		margin-bottom: 3px;
	}

	.footer__locations p {
		font-family: $ff-sans-serif;
		font-weight: 400;
	}

	.footer__locations li + li {
		margin-top: 30px;
	}

	.footer__cols {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer__col-size3 {
		width: 33.33%;

		@include breakpoint-down(tablet) {
			width: 100%;
			text-align: center;
		}
	}

	.footer__contacts {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 44px 0;
		text-align: right;

		@include breakpoint-down(tablet) {
			padding: 40px 0 0;
			justify-content: center;
		}
	}

	.footer__contacts p {
		margin: 0 27px 0 0;
		font-size: 12px;
		line-height: 1.35;
		max-width: 155px;
	}

	.footer__contacts p strong {
		display: block;
	}

	.footer__contacts p a {
		display: block;
	}

	.footer__contacts .btn {
		cursor: pointer;
	}
}

.footer.footer--alt {
	@include breakpoint-down(tablet) {
		padding: 40px 0;
	}

	h6 {
		font-family: $ff-trade-gothic;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: .1em;
		text-align: center;
		color: $c-white;
		text-transform: uppercase;
		margin-bottom: 0;
	}

	.footer__logo {
		margin-bottom: 0;
	}

	.footer__logo a {
		margin: 0;
		width: 240px;

		@include breakpoint-down(tablet) {
			margin: 0 auto 40px;
		}
	}

	.footer__logo a img {
		width: 100%;
	}
}
