/* ------------------------------------------------------------ *\
	List Arrows
\* ------------------------------------------------------------ */

.list-arrows {
	margin-bottom: -20px;

	ul {
		list-style: none outside none;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	li {
		width: calc(50% - 20px);
		margin-bottom: 20px;
		line-height: 1.35;
		padding: 0 40px 0 35px;
		position: relative;

		@include breakpoint-down(mobile) {
			width: 100%;
			padding-right: 0;
		}

		&:before {
			content: '';
			width: 0;
			height: 0;
			border-left: 10px solid $c-dark;
			border-top: 4px solid transparent;
			border-bottom: 4px solid transparent;
			position: absolute;
			top: 6px;
			left: 0;
		}
	}
}
