/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	font-size: 0;
	line-height: 0;
	text-indent: -4004px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;

	@include breakpoint-down(mobile) {
		width: 70px;
	}

	> img {
		display: block;
		width: 100%;
	}

	img + img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: opacity .4s, visibility .4s;
	}
}
