/* ------------------------------------------------------------ *\
	Numbers
\* ------------------------------------------------------------ */

.numbers {
	ul {
		list-style: none outside none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;

		@include breakpoint-down(mobile) {
			flex-wrap: wrap;
		}
	}

	li {
		width: calc(50% - 72px);
		text-align: left;

		@include breakpoint-down(mobile) {
			width: 100%;
			text-align: center;

			& + li {
				margin-top: 60px;
			}
		}
	}

	li:nth-child(odd) {
		text-align: right;
		position: relative;

		@include breakpoint-down(mobile) {
			text-align: center;
		}

		&:after {
			content: '&';
			color: $c-white;
			font-family: $ff-trade-gothic;
			font-weight: 700;
			font-size: 60px;
			line-height: 1.34;
			letter-spacing: .1em;
			text-transform: uppercase;
			position: absolute;
			top: 10px;
			left: calc(100% + 51px);

			@include breakpoint-down(mobile) {
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
				font-size: 40px;
			}
		}
	}

	li:nth-child(odd) strong {
		justify-content: flex-end;

		@include breakpoint-down(mobile) {
			justify-content: center;
		}
	}

	strong {
		display: flex;
		margin-bottom: 10px;

		@include breakpoint-down(mobile) {
			justify-content: center;
		}
	}

	strong span {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 76px;
		height: 100px;
		background: $c-white;
		font-family: $ff-trade-gothic;
		font-size: 60px;
		line-height: 100px;
		letter-spacing: .1em;
		text-transform: uppercase;
		color: $c-dark;

		&+ span {
			margin-left: 7px;
		}

		@include breakpoint-down(mobile) {
			font-size: 40px;
			width: 50px;
			line-height: 70px;
		}
	}

	strong span:last-child {
		line-height: 83px;
		text-align: center;
		display: block;
		padding-left: 3px;
	}

	p {
		font-family: $ff-trade-gothic;
		font-weight: 700;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: .1em;
	}
}
