/* ------------------------------------------------------------ *\
	Section Form Callout
\* ------------------------------------------------------------ */

.section-form-callout {
	padding-top: 92px;

	@include breakpoint-down(tablet) {
		padding-top: 40px;
	}

	@include breakpoint-down(mobile) {
		padding-top: 20px;
	}

	.section__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 660px;
		opacity: .14;
		pointer-events: none;
		z-index: 1;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.section__inner {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;

		@include breakpoint-down(tablet) {
			display: block;
		}
	}

	.section__content {
		width: 43.86%;

		@include breakpoint-down(tablet) {
			width: 100%;
			margin-bottom: 40px;
		}
	}

	.section__content h2 {
		font-size: 80px;
		margin-bottom: 33px;

		@include breakpoint-down(tablet) {
			font-size: 60px;
		}

		@include breakpoint-down(mobile) {
			font-size: 45px;
		}
	}

	.section__content h5 {
		margin-bottom: 26px;
	}

	.section__content p {
		max-width: 350px;
		line-height: 1.35;
	}

	.section__aside {
		width: 43.86%;
		background: $c-white;
		border: 1px solid $c-dark;
		padding: 32px 45px 50px;

		@include breakpoint-down(tablet) {
			width: 100%;
		}

		@include breakpoint-down(mobile) {
			padding: 20px;
		}
	}

	.section__aside > h3 {
		font-size: 53px;
		line-height: .81;

		@include breakpoint-down(tablet) {
			font-size: 40px;
		}

		@include breakpoint-down(mobile) {
			font-size: 32px;
		}
	}

	.section__aside > p {
		margin-bottom: 32px;
	}
}

/* ------------------------------------------------------------ *\
	Section Form Callout Alt
\* ------------------------------------------------------------ */

.section-form-callout--alt {
	padding-top: 60px;

	@include breakpoint-down(mobile) {
		padding-top: 20px;
	}

	.section__content h5 {
		margin-bottom: 40px;
	}

	.section__aside {
		padding: 39px 45px 50px;

		@include breakpoint-down(mobile) {
			padding: 20px;
		}
	}

	.section__aside > h3 {
		margin-bottom: 45px;

		@include breakpoint-down(mobile) {
			margin-bottom: 21px;
		}
	}

	.section__aside > p {
		margin-bottom: 48px;

		@include breakpoint-down(mobile) {
			margin-bottom: 32px;
		}
	}
}
